{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block title %}
- Run list
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{% if runs|length or has_search or 1==1 %}
<div class="searchbar clearfix">
    {#<a href="#" class="pull-right btn btn-small search-expand" title="Show search form">#}
        {#<i class="icon-search"></i> Search#}
    {#</a>#}

    <form action="{{ url('home') }}" method="get" class="row search-form form-inline">
        {#<a href="#" class="search-collapse close" title="Hide search form">&times;</a>#}
        <div class="control-group span4">
            <label class="control-label" for="start_date">Date range</label>
            <div class="controls">
                <input type="text" data-date-format="yyyy-mm-dd" id="date_start" name="date_start" class="datepicker span2" value="{{ search.date_start }}">
                <input type="text" id="date_end" data-date-format="yyyy-mm-dd" name="date_end" class="datepicker span2" value="{{ search.date_end }}">
            </div>
        </div>
        <div class="control-group span3">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input type="text" id="url" name="url" value="{{ search.url }}">
            </div>
        </div>

        <div class="control-group span4">
            <label class="control-label" for="url">DOCUMENT_ROOT</label>
            <div class="controls">
                <select name="document_root" id="document_root"></select>
                <i id="tongji_domain" style="color: green">统计中．．．</i>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
{% endif %}

{# No run data, and no search, must be just getting started #}
{% if not runs|length and not has_search %}
<div class="hero-unit">
    <h3>Looks like you haven't done any profiling</h3>
    <p>To get started with XHGUI you'll need to collect some profiling data.</p>
    <p>The simplest way to get an application profiled, is to use <code>external/header.php</code>.
        This file is designed to be combined with PHP's
        <a href="http://www.php.net/manual/en/ini.core.php#ini.auto-prepend-file">auto_prepend_file</a>
		directive. This can be enabled system-wide through <code>php.ini</code>. Alternatively, you can enable
        <code>auto_prepend_file</code> per virtual host. See the README.md file for more details.
    </p>
</div>
{% endif %}

{% if runs|length or has_search %}
    {% include 'runs/paginated-list.twig' %}
{% endif %}

{% if runs|length %}
    {{ helpers.pagination('home', paging, search) }}
{% endif %}

{% endblock %}

{% block jsfoot %}
    <script type="text/javascript">
        (function ($) {
            $.getUrlParam = function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return decodeURIComponent(r[2]); return null;
            }
        })(jQuery);

        $(document).ready(function (){
            $.get("{{ url('domains') }}", function() {})
                    .success(function(data) {
                        var current_root = $.getUrlParam('document_root');
                        var newData = eval("("+data+")");
                        var options = '<option value="">请选择</option>';
                        for (k in newData){
                            if(current_root==newData[k]){
                                options+="<option selected='selected' value='"+newData[k]+"'>"+newData[k]+"</option>";
                            }else{
                                options+="<option value='"+newData[k]+"'>"+newData[k]+"</option>";
                            }
                        }
                        if($('#document_root').length){
                            $('#document_root').html(options);
                        }
                    })
                    .error(function() { alert("error"); })
                    .complete(function () {
                        $('#tongji_domain').html('');
                    });
        });
    </script>
{% endblock %}